.container {
    max-width: 1020px;
    height: 100vh;
    /*background-color: #2d303a;*/
    margin:0 auto;
    position: relative;
}

.wrapper {
    position: absolute;
    max-width: 941px;
    margin: 68px 41px;
    display: flex;

}

.portfolio {
    background-color: #2d303a;
    height: 870px;
}

.h2_portfolio {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: 0px;
    margin: 1px 10px 10px -1px;
}

.portfolio-text {
    width: 943px;
    height: 60px;
    font-size: 17px;
    line-height: 31px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: lighter;
    text-align: justify;
    position: absolute;
    margin: 46px 10px 10px -1px;
    word-spacing: 2px;
    letter-spacing: 0.1px;
    
}

.tags {
    
    margin: 68px 0;
    word-spacing: 5.5px;
    margin: 87px -132px;
    word-spacing: 4.7px;
}

button {
    height: 22px;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    color: #666d89;
}


@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/LatoRegular/LatoRegular.ttf') format('truetype');
    src: url('assets/fonts/LatoBold/LatoBold.ttf') format('truetype');
    src: url('assets/fonts/Lato-Light.ttf') format('truetype');
    src: url('assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }