.container {
    width: 1020px;
    height: 100vh;
    background-color: red;
}

.head {
    height: 89px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
}

.logo {
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    /*font-weight: 700;*/
    text-align: left;
}

.navbar {
    font-size: 16px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    /*font-weight: 700;*/
    text-align: left;
    margin: 45px 279px 0 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.head_btm {
    height: 6px;
    background-color: #323746;
    margin-bottom: 0; 
}

.slider {
    height: 600px;
    background-color: #f06c64;
}

.slider_btm {
    height: 15px;
    background-color: #ea676b;
}

.services {
    height: 495px;
    background-color: #f2f2f2;
}



@font-face {
    font-family: "LatoRegular";
    src: url("./fonts/LatoRegular/LatoRegular.eot");
    src: url("./fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("./fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("./fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoBold";
    src: url("./fonts/LatoBold/LatoBold.eot");
    src: url("./fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("./fonts/LatoBold/LatoBold.woff") format("woff"),
    url("./fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoItalic";
    src: url("fonts/LatoItalic/LatoItalic.eot");
    src: url("./fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("./fonts/LatoItalic/LatoItalic.woff") format("woff"),
    url("./fonts/LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoLight";
    src: url("./fonts/LatoLight/LatoLight.eot");
    src: url("./fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("./fonts/LatoLight/LatoLight.woff") format("woff"),
    url("./fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoBoldItalic";
    src: url("./fonts/LatoBoldItalic/LatoBoldItalic.eot");
    src: url("./fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("./fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
    url("./fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoLightItalic";
    src: url("./fonts/LatoLightItalic/LatoLightItalic.eot");
    src: url("./fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
    url("./fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
    url("./fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}